{% extends 'base.html' %}

{% block title %}Product Delete{% endblock %}

{% block nav %}
    <li class="nav-item"><a class="nav-link" href="{% url 'webapp:product_view' product.pk %}">No</a></li>
{% endblock %}

{% block content %}
    <h1>Are you sure you want to delete the product "{{ product.name }}" ({{ product.get_category_display }})?</h1>
    <form action="{% url "webapp:product_delete" product.pk %}" method="post">
        {% csrf_token %}
        <div class="btn-group">
            <button class="btn btn-danger" type="submit">Yes</button>
            <a class="btn btn-primary" href="{% url 'webapp:product_view' product.pk %}">No</a>
        </div>
    </form>
{% endblock %}